<div class="btn-group">
    <%= link_to 'Edit profile information', edit_user_registration_path, :class => 'btn btn-default btn-xs' %>                 
    <%= link_to 'Create new book', new_book_path, :class => 'btn btn-info btn-xs' %>
</div>